
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /montre.com.br/web/gelsonmerisio/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /montre.com.br/web/gelsonmerisio/index.php [L]
</IfModule>

# END WordPress