

nav.main_menu > ul > li.active > a {
    color: #fff;
    border-bottom: 4px solid #9FC44C;
}
.title h1,
.carousel-inner h2 {
-webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
    font-weight: 900;
}

#pi-gelson-merisio,
#pi-noticias,
#pi-trabalho,
#pi-compromissos,
#pi-galeria,
#pi-fale {
	padding-top: 40px;
	padding-bottom: 40px;
}

#pi-noticias h2,
#pi-trabalho h2,
#pi-compromissos h2,
#pi-galeria h2,
#pi-fale h2{
	text-align: center;
}

#pi-gelson-merisio h2,
#pi-noticias h2,
#pi-trabalho h2,
#pi-compromissos h2,
#pi-galeria h2,
#pi-fale h2{
	color: #235EA1;
}

ul.float-si {
    list-style: none;
    position: fixed;
    top: 50%;
    z-index: 99999;
    text-align: center;
}

ul.float-si a {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 21px;
    border: 2px solid #fff;
    margin: 10px 15px;
    color: #fff;
}

.title.has_background, .title.has_fixed_background {
  background-size: cover !important;
  background-position: center 0;
}

.footer_top_holder {
  background-color: #235EA1;
}

#back_to_top>span {
  background-color: #9FC54D;
}

#back_to_top:hover>span {
  background-color: transparent;
  border-color: #9FC54D;
  border-width: 2px;
}

#back_to_top:hover .arrow_carrot-up:before {
  color: #9FC54D;
}
